#wrapForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 120px;
  background-color: #0a0a0af1!important;
  width: 100%;
  
}

#wrapInfos{
  max-width: 300px;
}
#formulario {
  width: 80%;
}
#formulario div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-self: center;
}
#formulario div{
  padding-bottom: 20px;
  padding-inline: 10px;
  align-items: center;
  text-align: center;
  gap: 4px;
}

#formulario h4{
  color: white;
  -webkit-text-stroke-width: .5px; /* largura da borda */
  -webkit-text-stroke-color: #000; /* cor da borda */
}
#btnForm{
  margin-block: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #93f3e8;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 780px){
  #formulario {
    max-width: 765px;
  }
  .wrapInfos {
    max-width: 287px;
  }
  #wrapInfos {
    display: flex;
    flex-direction: row !important;
   min-width: 100%;

    justify-content: space-around;
    align-items: center;
  }
}